doctype html
html
	head
		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap" type="text/css")
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap", rel="stylesheet")
	body
		h1 <img src="https://i.ibb.co/PMw2806/meo-Icon-Fotor.png" alt="meo-Icon-Fotor" border="0"> AirBnb Worktool  
		p Hi #{nickname} !
		p Please click <a href="#{link}">here</a> to reset your password.
		p In case of difficulties, please contact our customer support via email.	
		p <br>
		p Best regards,
		p AirBnb Worktool Support Team <br> Tel: +358123456  <br> Email: abworktool@gmail.com
		p <br>
		p <hr>
		footer 
			p ABWorktool is a micromanagement tool dedicated to AirBnb operations that need a helping hand.
			p Check us out at <a href="https://arcane-tundra-61659.herokuapp.com/">https://arcane-tundra-61659.herokuapp.com/</a>
		
style(type="text/css").
	body {
		position: relative;
		margin: auto;
		width: 50%;
		padding-top: 12vh;
		
	}
	h1 {
		font-family: 'Baloo Paaji 2', cursive;
		margin-bottom: 30px;
		color:  #19568b;
	}
	p {
		font-family: 'Roboto', sans-serif;
	}


