p Hi there #{nickname} !
p Please click on the following link to reset your password.
p <a href="#{link}">Reset password now</a>
p In case of difficulties, please contact our customer support via email.