<%- include("../partials/header", {date: date}) %>

<div class="container" id="mainViewContainer">
	<div class="row">
		<div id="createTaskBody">
			<h1 id="headingCreateTask">
				Create new units
			</h1>
			<form action="/unit" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder="Name">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="image" placeholder="Image url">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="checkinout" placeholder="Check in/out time(hh:mm/hh:mm)">
				</div>
				<div class="form-group">
					<button class="btn btn-block btn_rectangle btn_add">
						Submit
					</button>
				</div>
		</form>
			<a id="backLink" href="/unit">Back to units</a>
		</div>
		
		
	</div>
	
</div>


<%- include("../partials/footer") %>