!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>AirBnb WorkTool</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
	</head>
	<body>
		<div id="landing-header">	
			<h1>Welcome to AirBnb Work Tool</h1>
				<form action="/reclaim_Password" method="POST">
					<div class="form-group">
						<input class="form-control" type="text" name="username" placeholder="Your username/email here" required>
					</div>
					<div class="form-group">
						<button id="buttons" class="btn btn-sm btn-block"><strong>Send</strong></button>
					</div>
				</form>	
			<a id="buttons" href="/" class="btn btn-sm btn-block"><strong>Back</strong></a>
		</div>
		<footer id="footer"> 
			Powered by <i class="fab fa-html5"> </i> <i class="fab fa-css3-alt"></i> <i class="fab fa-bootstrap"></i> <i class="fab fa-node"></i>  |   
			<i class="far fa-copyright"></i> 2020 by M&P
	</footer>
	</body>
</html>
