<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>AirBnb WorkTool</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/register.css">
		
		</head>
	<body>
				<div id="landing-header">
					<h1>Create new account</h1>
					<form action="/register" method="POST">			
						<div class="form-group">
							<input class="form-control" type="email" name="username" placeholder="Your email*" required>
						</div>					
						<div class="form-group">
							<div class="row ml-0 mr-0">					
								<div class="col-xs-10 mr-1">
									<input class="form-control" type="text" name="password" placeholder="Password*" required id="password">															</div>
								<div class="align-items-center col-xs-2" id="diceBackground">
									<i class="fas fa-dice-six" id="dice"></i>
								</div>	
							</div>
						</div>
						<div class="form-group">
							<input class="form-control" type="text" name="nickname" placeholder="Your nickname*" required>
						</div>
											
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="gridCheck" name="manager">
								<label class="form-check-label" for="gridCheck" id="labelManager">Register as manager</label>
							</div>
						</div>
					
						<div class="form-group">
							<input class="form-control" type="password" name="master" placeholder="Manager code">
						</div>
						<div class="form-group">
							<button class="btn btn-lg btn-block" id="buttons">		Register</button>
						</div>				
					</form>
				</div>	
		<script src="scripts/generate_password.js"></script>
		<footer id="footer"> 
			Powered by <i class="fab fa-html5"> </i> <i class="fab fa-css3-alt"></i> <i class="fab fa-bootstrap"></i> <i class="fab fa-node"></i>  |   
			<i class="far fa-copyright"></i> 2020 by M&P
	</footer>
	</body>
</html>
