body {
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #232526, #414345);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
	color: white;
	font-size: 1.5em;
	margin-bottom: 50px;
	text-align: center; 
	font-family: 'Roboto', sans-serif;
}

#landing-header {
	position: relative;
	margin: auto;
	width: 50%;
	padding-top: 12vh;
}

#buttons {
	background: #19568b;
	color: #ecf3e7;
}

#footer {
	position: relative;
	margin: auto;
	margin-top: 100px;
	width: 50%;
	font-size: 0.9em;
	color: white;
	text-align: center;
	font-family: 'Baloo Paaji 2', cursive;
}
