p Hi there #{nickname} !
p Account has been created successfully.
p Your username: #{username}
p Your password: #{password}
p You can start logging in via this link below.
p <a href="#{link}">AirBnb Management Console</a>
p In case of difficulties, please contact our customer support via email.